*{
	font-family: 'Roboto', sans-serif;
 	margin: 0px;
 	padding: 0px;

}


#clock{
	font-weight: bold;
	font-size: 200px;
	text-align: center;
    margin: 0 auto;
    width: 60%;
}


